/ http://www.google.com/fonts#UsePlace:use/Collection:PT+Serif|Merriweather:300italic,700
link href='http://fonts.googleapis.com/css?family=PT+Serif|Merriweather:300italic,700' rel='stylesheet' type='text/css'